<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
        <appender-ref ref="CONSOLE"/>
         </root>
          <logger name="edu.princeton.sitephoto" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">

       <appender-ref ref="CONSOLE"/>

        <logger name="org.springframework" level="INFO"/>
        <logger name="edu.princeton.sitephoto" level="INFO"/>
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
